<nav class="border-gray-200 bg-black">
	<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
		<a href="/" class="flex items-center">
			<span class="self-center text-2xl font-semibold whitespace-nowrap text-orange-300">Coffee Clicker</span>
		</a>
		<button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
			<span class="sr-only">Open main menu</span>
			<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 17 14">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
			</svg>
		</button>
		<div class="hidden w-full md:block md:w-auto" id="navbar-default">
			<ul class="font-medium flex flex-col items-center p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 border-gray-700">
				<li>
					<a href="{{ path('game.index') }}" class="block py-2 pl-3 pr-4 bg-orange-600 rounded md:bg-transparent md:p-0 text-white md:text-orange-600">
						Play
					</a>
				</li>
				<li>
					<a href="{{ path('player.index') }}" class="block py-2 pl-3 pr-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent" aria-current="page">
						Players
					</a>
				</li>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					{% if 'ROLE_ADMIN' in app.user.roles %}
						<li>
							<a href="{{ path('user.index') }}" class="block py-2 pl-3 pr-4 bg-blue-700 rounded md:bg-transparent md:p-0 text-white md:text-blue-500">
								Admin dashboard
							</a>
						</li>
						<li>
							<a href="{{ path('user.index') }}" class="block py-2 pl-3 pr-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">
								Users
							</a>
						</li>
					{% endif %}
					<li>
						<img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 rounded-full p-0.5 ring-2 ring-white cursor-pointer" src="{{ vich_uploader_asset(app.user, 'imageFile')|default('/images/profile.jpg')}}" alt="User dropdown">
						<div id="userDropdown" class="z-20 hidden divide-y rounded-lg shadow w-auto bg-gray-700 divide-gray-600">
							<div class="px-4 py-3 text-sm text-white">
								<div>{{app.user.username}}</div>
								<div class="font-medium truncate">{{app.user.email}}</div>
							</div>
							<ul class="py-2 text-sm text-gray-200" aria-labelledby="avatarButton">
								<li>
									<a href="{{ path('user.edit', { 'username': app.user.username }) }}" class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Edit</a>
								</li>
							</ul>
							<div class="py-1">
								<a href="{{ path('login.logout') }}" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Sign out</a>
							</div>
						</div>
					</li>

				{% else %}

					<li>
						<a href="{{ path('login.register') }}" class="block py-2 pl-3 pr-4 md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">
							Register
						</a>
					</li>
					<li>
						<a href="{{ path('login.index') }}" class="block py-2 pl-3 pr-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">
							Login
						</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
</nav>
